* {
    margin: 0px;
    padding: 0px;
}

body {
    color: white;
    font-family: arial, 'sans-serif';
    background-image: url('../IMAGENS/image.jpg');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#corpo {
    text-align: center;
    margin: 70px auto 0px auto;    
}

input {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px absolute white;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.01);
    color: white;
    outline: none;
}

.btn {
    position: relative;
    display: inline;
    margin: 20px 10px;
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 30px;
    font-size: 13pt;
    color: white;
}

div#corpo-form {
    width: 420px;
    margin: 150px auto 0px auto;
}

div#form-cad-usuario,div#form-cad-aluno {
    width: 420px;
    margin: 10px auto 0px auto;    
}


div#corpo-form h1, div#form-cad-usuario, div#form-cad-aluno {
    text-align: center;
    padding: 20px;
}

div#aluno, div#usuario {
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    position: relative;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

input[type=submit], .btn {
    background-color: #FF0066;
    border: none;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #fff;
}
